*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s;
}

/* similar items */
/* all lists */
ul{
    list-style: none;
}
/* all links */
a{
    display: block;
    color: black;
    text-decoration: none;
}



/* body */
body{
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}


/********************************** nav *************************/
nav{
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    /* border-bottom: 2px solid #b6bcc8; */
    border-bottom: 2px solid #f7f8fd;

}
/* left side */

.icon-menue{
    display: none;
    cursor: pointer;
    padding: 5px;
}
nav .leftNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
nav .leftNav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .leftNav ul li a{
    display: block;
    text-decoration: none;
    color:  #68707d;
    padding: 20px 10px;
    border-bottom: 3px solid transparent;
    padding: 40px 10px;
}
nav .leftNav ul li a:hover{
    border-bottom: 3px solid #ff7d1a;
}

/* right side */
nav .rightNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

nav .icon-cart img{
    padding: 5px;
    cursor: pointer;
}
nav .rightNav .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ff7d1a;
    
}
nav .rightNav .avatar img{
    width: 100% ;
    height: 100% ;
    cursor: pointer;
}


/*************************** mobile  menue ***************************/
.alert-dark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.75);
    z-index: 9;
    display: flex;
    display: none;
    align-items: center;
}
#space{
    flex-grow: 1;
    height: 100vh;
}
.alert-dark .mobile-menue{
    width: 260px;
    height: 100%;
    background-color: white;
    z-index: 99;
    padding: 30px 15px ;
    transform: translateX(-100%);
    display: none;
}
.alert-dark .mobile-menue ul{
    margin: 25px 0;
}
.alert-dark .mobile-menue ul li a{
    font-weight: 600;
    color: #1d2025;
    margin: 15px 0;
}
#x-close-menue{
    cursor: pointer;
    width: 20px;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    padding: 2px 6px;
    border-radius: 8px;
    background-color: #ff7d1a;
    font-size: 7px;
    top: 0px;
    right:5px;
    color: white;
}


/******************************** container *********************************/
.container{
    max-width: 1024px;
    margin: auto;
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:100px;
}
/* left side */
.leftContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mainImg img{
    width: 300px;
    border-radius: 10px;
}
.mainImg img:hover{
    cursor: pointer;
}
.smallImg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    gap: 20px;
}
.smallImg .img{
    width: 60px;
    height: 60px;
    border:transparent solid 2px;
    border-radius: 11px;
    overflow: hidden;
}
.smallImg img{
    width: 100%;
    border-radius: 8px;
    height: 100%;
}
.smallImg img:hover{
    opacity: .5 !important;
    cursor: pointer;
}

/* right side */
.rightContainer{
    width: 350px;
}
.rightContainer .firstP{
    color: #68707d;
    font-size: 14px;
    font-weight: 600;
}
.rightContainer h1{
    color: #1d2025;
    margin: 10px 0 30px 0;
    text-transform: capitalize;
}
.rightContainer .secondP{
    color: #68707d;
    font-size: 13px;
    line-height: 150%;
}
.rightContainer .price{
    margin: 15px 0;
}
.rightContainer .price .fLine{
    font-size: 20px;
    color: #1d2025;
    font-weight: 700;
}
.rightContainer .price .fLine span{
    background-color: #1d2025;
    color: white;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
}
.rightContainer .price .sLine{
    color: #68707d;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 600;
}
.buy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}
.buy button{
    background-color: #ff7d1a;
    border: none;
    outline: none;
    padding: 13px 40px;
    color: #1d2025;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: .3s;
    font-size: 14px;
    font-weight: 600;
}
.buy button:hover{
    cursor: pointer;
    background-color: #ff7d1aa8;
}
.buy img{
    padding: 10px;
    cursor: pointer;
}

.conImg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}


/******************************* alert-cart **************************/
.alert-cart {
    position: absolute;
    top: 100px;
    right: 30px;
    height: 180px;
    width: 280px;
    box-shadow: 0 5px 10px #919191;
    z-index: 999;
    background-color: white;
    display: flex;
    flex-direction: column;
    /*  */
    opacity: 0;
    display: none;
}

.alert-cart .top{
    border-bottom: 1px solid #e2e2e2cc;
    height: 40px;
    padding: 10px;
    color: #1d2025;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
}
.content-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    display: none;
}
.defaultText{
    color: #68707d;
    transform: translateY(-10px);
    font-size: 12px;
    font-weight: 600;
}

.alert-cart .listCart{
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    overflow: auto;
}
.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}
.img-pro-alert{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 3px;
}
.products .text-alert .f-alert{
    color: #68707d;
    font-size: 11px;
    letter-spacing: .3px;
    text-transform: capitalize;
    font-weight: 600;
}
.products .text-alert .s-alert{
    color: #68707d;
    font-size: 11px;
    letter-spacing: .3px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 3px;
}
.products .text-alert .s-alert span{
    color: #1d2025;
    font-weight: 600;
    font-size: 15px;
}
.products .deleteIcont{
    cursor: pointer;
}
.btn-chechout{
    background-color: #ff7d1a;
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    font-weight:600 ;
    color: #1d2025;
    border-radius: 10px;
}
.btn-chechout:hover{
    cursor: pointer;
    background-color: #ff7d1aa8;
}



/************************ Galary ************************/
.alert-show-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    display: none;
}
.alert-show-img img{
    width: 100px;
}
.alert-show-img .container-ASI{
    width: 400px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.alert-show-img .container-ASI #btn-close-ASI{
    position: absolute;
    top: -30px;
    right: -10px;
    font-size: 22px;
    color: white;
    padding: 10px;
}
.alert-show-img .container-ASI #btn-close-ASI:hover{
    cursor: pointer;
    color: #ff7d1a;
}
.alert-show-img .container-ASI .conImg-ASI{
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert-show-img .container-ASI .conImg-ASI img{
    width: 100%;
    border-radius: 10px;
}
.alert-show-img .container-ASI .conImg-ASI i{
    background-color: white;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    color: #1d2025;
}
.alert-show-img .container-ASI .conImg-ASI i:hover{
    color: #ff7d1a;
    cursor: pointer;
}
#angle-left-ASI{
    position: absolute;
    left: -5px;
    
}
#angle-right-ASI{
    position: absolute;
    right: -5px;
}
.imgs4-ASI{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.imgs4-ASI img{
    width: 65px;
    border-radius: 10px;
}
.imgs4-ASI img:hover{
    cursor: pointer;
    opacity: .5 !important;
}
.imgs4-ASI div{
    border: 1.5px solid transparent;
    width: 65px;
    height: 65px;
    border-radius: 12px;
    overflow: hidden;
}
.imgs4-ASI div img{
    width: 100%;
    height: 100%;
}




/******************************* @media **************************/
@media screen and (max-width:992px){
    /* nav and mobile menue */
    nav{
        padding: 0 20px;
    }
    nav .leftNav ul{
        display: none;
    }
    .icon-menue{
        display: block;
    }
    
}
@media screen and (max-width:850px){
    /* container */
    .container{
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
        padding: 0 ;
        justify-content: flex-start;
        gap:10px;
    }
    .smallImg{
        display: none;
    }
    .leftContainer {
        width: 100%;
    }
    .mainImg img{
        width: 100%;
        height: 350px;
        border-radius: 0;
    }
    .rightContainer{
        width: 100%;
        padding: 20px;
    }
    .rightContainer .firstP{
        font-size: 15px;
        letter-spacing: 3px;
        font-weight: 700;
        text-align: center;
    }
    .rightContainer h1{
        margin: 20px 0;
        text-align: center;
    }
    .brh{
        display: none;
    }
    .rightContainer .secondP{
        width: 100%;
        line-height: 170%;
        font-size: 14px;
    }
    .rightContainer .price{
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .rightContainer .price .fLine{
        font-size: 25px;
        font-weight: 900;
    }
    .rightContainer .price .fLine span{
        font-weight: 700;
        padding: 5px 6px;
    }
    .rightContainer .price .sLine{
        font-size: 25px;
        margin-right: 10px;
    }
    .buy{
        flex-direction: column;
    }
    .buy button{
        display: block;
        width: 100%;
        font-size: 20px;
        padding: 15px 40px;
    }
    .conImg{
        width: 80%;
        margin: auto;
    }
    .buy img{
        width: 35px;
    }

}
@media screen and (max-width:480px){
    /* right side in container */
    .rightContainer h1{
        text-align: left;
    }
    .rightContainer .firstP{
        text-align: left;
    }
    .brh{
        display: block;
    }

    /*** alert cart ***/
    .alert-cart {
        width: 95%;
        top: 110px;
        right: auto;
        right: 50%;
        transform: translateX(50%);
        height: 200px;
        box-shadow: 0 10px 10px #49494980;
        height: 250px;
        z-index: 8;
        border-radius: 10px;
    }
    .img-pro-alert{
        width: 60px;
        height: 60px;
    }
    .products .text-alert .f-alert{
        font-size: 16px;
    }
    .products .text-alert .s-alert{
        font-size: 16px;
    }
    .products .text-alert .s-alert span{
        font-size: 18px;
    }
    .btn-chechout{
        padding: 16px;
        border-radius: 10px;
        font-size: 18px;
    }
    .products .deleteIcont{
        width: 22px;
    }
}
